---
const { pageTitle } = Astro.props;
import "../styles/global.css";
const name = "Astro";
const htmlString = "<p>Raw HTML content</p>";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    <!-- <style>
      h1 {
        color: purple;
        font-size: 4rem;
      }
    </style> -->
  </head>
  <body>
    <h1>esssssllo</h1>
    <h1 class={name}>Attribute expressions are supported</h1>

    <!-- <MyComponent templateLiteralNameAttribute={`MyNameIs${name}`} /> -->
    <button id="button">Click Me</button>
    <script>
      function handleClick() {
        console.log("button clicked!");
      }
      document.getElementById("button").addEventListener("click", handleClick);
    </script>
    <Fragment set:html={htmlString} />

    <!-- HTML comment syntax is valid in .astro files -->
    {/* JS comment syntax is also valid */}

    <slot>
      <!-- sss -->
    </slot>

    {
      Astro.slots.has("more") && (
        <aside>
          <h2>More</h2>
          <slot name="more" />
        </aside>
      )
    }
  </body>
</html>
